<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  ... Starter Files ...
</div> -->
<div class="card">
  <div class="card-header" appHighlight>
    <nav class="navbar navbar-expand-lg" [style.padding]="0">
      <span class="navbar-brand"><img width="10%" src="../assets/images/logo.jpg"></span>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/product-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>
      </div>
    </nav>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
